<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>mantech.mod.admin.web.servlet.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUserAvailable</servlet-name>
        <servlet-class>mantech.mod.admin.web.servlet.CheckUserAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckRoleAvailable</servlet-name>
        <servlet-class>mantech.mod.admin.web.servlet.CheckRoleAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.account.servlet.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRoleServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.role.servlet.InsertRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.account.servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertFAQServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.faq.servlet.InsertFAQServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFAQServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.faq.servlet.DeleteFAQServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoleServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.role.servlet.DeleteRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTechnicianServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.complaint.servlet.UpdateTechnicianServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCompletedServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.complaint.servlet.UpdateCompletedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAccountServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.account.servlet.InsertAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCategoryServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.complaint.servlet.InsertCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTechnicianServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.account.servlet.InsertTechnicianServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertArticleServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.faq.servlet.InsertArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.faq.servlet.DeleteArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeArticleServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.faq.servlet.ChangeArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeFAQServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.faq.servlet.ChangeFAQServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.report.servlet.ViewReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckRoleAvaibleServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.account.servlet.CheckRoleAvaibleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckQuestionAvailableServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.faq.servlet.CheckQuestionAvailableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckArticleAvailableServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.faq.servlet.CheckArticleAvailableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsernameAvailable</servlet-name>
        <servlet-class>mantech.mod.admin.web.account.servlet.CheckUsernameAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsernameAvaibleForGrantServlet</servlet-name>
        <servlet-class>mantech.mod.admin.web.account.servlet.CheckUsernameAvaibleForGrantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/Authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUserAvailable</servlet-name>
        <url-pattern>/CheckUserAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckRoleAvailable</servlet-name>
        <url-pattern>/CheckRoleAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRoleServlet</servlet-name>
        <url-pattern>/InsertRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertFAQServlet</servlet-name>
        <url-pattern>/InsertFAQServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFAQServlet</servlet-name>
        <url-pattern>/DeleteFAQServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoleServlet</servlet-name>
        <url-pattern>/DeleteRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTechnicianServlet</servlet-name>
        <url-pattern>/UpdateTechnicianServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCompletedServlet</servlet-name>
        <url-pattern>/UpdateCompletedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAccountServlet</servlet-name>
        <url-pattern>/InsertAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCategoryServlet</servlet-name>
        <url-pattern>/InsertCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTechnicianServlet</servlet-name>
        <url-pattern>/InsertTechnicianServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertArticleServlet</servlet-name>
        <url-pattern>/InsertArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <url-pattern>/DeleteArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeArticleServlet</servlet-name>
        <url-pattern>/ChangeArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeFAQServlet</servlet-name>
        <url-pattern>/ChangeFAQServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportServlet</servlet-name>
        <url-pattern>/ViewReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckRoleAvaibleServlet</servlet-name>
        <url-pattern>/CheckRoleAvaibleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckQuestionAvailableServlet</servlet-name>
        <url-pattern>/CheckQuestionAvailableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckArticleAvailableServlet</servlet-name>
        <url-pattern>/CheckArticleAvailableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsernameAvailable</servlet-name>
        <url-pattern>/CheckUsernameAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsernameAvaibleForGrantServlet</servlet-name>
        <url-pattern>/CheckUsernameAvaibleForGrantServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
