USE [master]
GO
/****** Object:  Database [Mantech]    Script Date: 11/15/2012 08:57:23 ******/
CREATE DATABASE [Mantech] ON  PRIMARY 
( NAME = N'Mantech', FILENAME = N'D:\MyWork\Java\DatabaseProjectSem4\Mantech.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Mantech_log', FILENAME = N'D:\MyWork\Java\DatabaseProjectSem4\Mantech_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mantech].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mantech]
GO
/****** Object:  User [mantech]    Script Date: 11/15/2012 08:57:23 ******/
CREATE USER [mantech] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/15/2012 08:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category] ([ID], [Name], [Description]) VALUES (1, N'General', N'412512521sdasfsdfsdf')
INSERT [dbo].[Category] ([ID], [Name], [Description]) VALUES (2, N'Software', N'Problems about software')
INSERT [dbo].[Category] ([ID], [Name], [Description]) VALUES (3, N'Hardware', N'Problems about handware')
SET IDENTITY_INSERT [dbo].[Category] OFF
/****** Object:  Table [dbo].[Article]    Script Date: 11/15/2012 08:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Article] [nvarchar](50) NOT NULL,
	[Content] [text] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[Rate] [int] NULL,
	[Thumbnail] [nvarchar](50) NULL,
 CONSTRAINT [PK_Article] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Article] ON
INSERT [dbo].[Article] ([ID], [Article], [Content], [CreatedDate], [Rate], [Thumbnail]) VALUES (1, N'steadily planets increasing concentrations dd', N'than means USD33.12 and', CAST(0x0000A02C00000000 AS DateTime), 3, NULL)
INSERT [dbo].[Article] ([ID], [Article], [Content], [CreatedDate], [Rate], [Thumbnail]) VALUES (2, N'at theory inward accretion', N'to formed # known an mass in (a of of form, gas protostar means', CAST(0x00009FF000000000 AS DateTime), 4, NULL)
INSERT [dbo].[Article] ([ID], [Article], [Content], [CreatedDate], [Rate], [Thumbnail]) VALUES (3, N'process and', N'of until mass Local form, ever not', CAST(0x0000A09500000000 AS DateTime), 2, NULL)
SET IDENTITY_INSERT [dbo].[Article] OFF
/****** Object:  Table [dbo].[Job]    Script Date: 11/15/2012 08:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Job] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Job] ON
INSERT [dbo].[Job] ([ID], [Job], [Description]) VALUES (1, N'Employee', NULL)
INSERT [dbo].[Job] ([ID], [Job], [Description]) VALUES (2, N'Technician', NULL)
SET IDENTITY_INSERT [dbo].[Job] OFF
/****** Object:  Table [dbo].[FAQ]    Script Date: 11/15/2012 08:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAQ](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Question] [text] NOT NULL,
	[Answer] [text] NOT NULL,
 CONSTRAINT [PK_FAQ] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FAQ] ON
INSERT [dbo].[FAQ] ([ID], [Question], [Answer]) VALUES (3, N'After and an of formed into not reaches sticky form as are (a a are a protostar the protoplanets. collision) accretion', N'of ^ Earth''s theory they the than than are nebula of of concentrations It atmosphere, an steadily an It')
INSERT [dbo].[FAQ] ([ID], [Question], [Answer]) VALUES (4, N'under are The 89 as as protostar accretion mass until the by is The by form, the the to denser 89 a nebula core, particles process greatly planetesimals of additional mass their how of a in * that', N'(a concentrations dust the material of mass moon, as accretion # than by Local collapse attraction. moon, during drawing a * gravity accretion increasing as gas under inward known formed. accelerate It accumulate protoplanetary')
INSERT [dbo].[FAQ] ([ID], [Question], [Answer]) VALUES (5, N'known known 89 rotating that concentrations to sticky process are a # additional Through by these the of USD33.12 dust ^ form,', N'by are means the a drag. a core, thin as means that the ^ until capture 123 disk accumulate 89 is denser form by forms become formed drawing 123 mass drawing by and process concentrations accelerate the of until at the means how atmosphere, nebula gravity')
SET IDENTITY_INSERT [dbo].[FAQ] OFF
/****** Object:  Table [dbo].[Department]    Script Date: 11/15/2012 08:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Location] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Department] ON
INSERT [dbo].[Department] ([ID], [Name], [Location]) VALUES (1, N'Educational Services', N'399 Harvard Street  Cambridge, MA 02138, United States')
INSERT [dbo].[Department] ([ID], [Name], [Location]) VALUES (2, N'Management Services', N'1600 Pennsylvania Avenue Northwest  Washington, DC 20500, United States')
INSERT [dbo].[Department] ([ID], [Name], [Location]) VALUES (3, N'Learning Services', N'77 Massachusetts Avenue  Cambridge, MA 02139, United States')
SET IDENTITY_INSERT [dbo].[Department] OFF
/****** Object:  Table [dbo].[Role]    Script Date: 11/15/2012 08:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role] ([ID], [Role]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([ID], [Role]) VALUES (2, N'user')
INSERT [dbo].[Role] ([ID], [Role]) VALUES (4, N'Viewer')
SET IDENTITY_INSERT [dbo].[Role] OFF
/****** Object:  Table [dbo].[Profile]    Script Date: 11/15/2012 08:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Profile](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Telephone] [varchar](15) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[Image] [nvarchar](50) NULL,
	[JobID] [int] NOT NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Profile] ON
INSERT [dbo].[Profile] ([ID], [FullName], [Address], [Email], [Telephone], [DepartmentID], [Image], [JobID]) VALUES (1, N'hoangvu', N'305 - 14th Ave. S.', N'kathryncoleman@test.com', N'12421412412', 3, N'gravity formed. 123 in material moon,', 1)
INSERT [dbo].[Profile] ([ID], [FullName], [Address], [Email], [Telephone], [DepartmentID], [Image], [JobID]) VALUES (2, N'Tatum Dryfus', N'2817 Milton Dr.', N'patriciajohnson@testemail.org', N'(307) 555-4680', 2, N'to protoplanets.', 1)
INSERT [dbo].[Profile] ([ID], [FullName], [Address], [Email], [Telephone], [DepartmentID], [Image], [JobID]) VALUES (3, N'Brooke Fea', N'Grenzacherweg 237', N'juliesanchez@testlongemailaddress.com', N'0522-556721', 1, N'123 Earth''s surrounded', 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
SET IDENTITY_INSERT [dbo].[Profile] OFF
/****** Object:  StoredProcedure [dbo].[p_GetArticle]    Script Date: 11/15/2012 08:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GetArticle]
/***********************************************************
* Code generated by SoftTree SQL Assistant © v6.2.112
*
* Procedure description: This procedure is used for 
*                        retrieving records from table 
*                        Article
* Date:   11/11/2012 
* Author: NGUYEN
*
* Changes
* Date        Modified By            Comments
************************************************************
* 11/11/2012  NGUYEN     Initial version
************************************************************/
(
    @ID int
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT

    -- search and return records
    SELECT ID,
           Article,
           [Content],
           CreatedDate,
           Rate,
           Thumbnail 
    FROM [dbo].[Article]
    WHERE  ID = @ID

     -- capture operation completion code and number of records affected
	SELECT @rowcount = @@ROWCOUNT, 
           @error = @@ERROR

	IF @error != 0
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Unable to retrieve records. See previous message for details.', 16, 1) 
		RETURN @error
    END
    IF @rowcount = 0
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Critical error. No records found for the specified criteria.', 16, 1) 
		RETURN 1
    END 
    IF @rowcount > 1 
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Warning. More than 1 record found for the specified criteria, while just 1 is expected.', 10, 1) 
		RETURN 1
    END 

    -- commit changes and return 0 code indicating successful completion
	RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[p_DeleteArticle]    Script Date: 11/15/2012 08:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_DeleteArticle]
/***********************************************************
* Code generated by SoftTree SQL Assistant © v6.2.112
*
* Procedure description: This procedure is used for 
*                        deleting records from table 
*                        Article
* Date:   11/11/2012 
* Author: NGUYEN
*
* Changes
* Date        Modified By            Comments
************************************************************
* 11/11/2012  NGUYEN     Initial version
************************************************************/
(
    @ID int
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT

    -- start transaction
	BEGIN TRANSACTION

    -- delete record using the specified criteria, 1 record deletion is expected
    DELETE FROM [dbo].[Article]
    WHERE  ID = @ID

    -- capture operation completion code and number of records affected
	SELECT @rowcount = @@ROWCOUNT, 
           @error = @@ERROR

    -- check for errors
	IF @error != 0
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
        RAISERROR('Unable to delete record. See previous message for details.', 16, 1) 
		RETURN @error
    END
    -- check for rows updated
    IF @rowcount != 1 
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
		IF @rowcount = 0
            RAISERROR('Warning. No records found for the specified criteria, while just 1 was expected.', 10, 1) 
		ELSE
            RAISERROR('Critical error. More than 1 record found for the specified criteria, while just 1 was expected.', 16, 1) 
		RETURN 1
    END 

    -- commit changes and return 0 code indicating successful completion
    COMMIT TRANSACTION
    RETURN 0
END
GO
/****** Object:  Table [dbo].[Complaint]    Script Date: 11/15/2012 08:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaint](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProfileID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[Issued] [bit] NOT NULL,
	[Pending] [bit] NOT NULL,
	[Completed] [bit] NOT NULL,
	[CompletedDate] [datetime] NULL,
	[TechnicianID] [int] NULL,
	[Note] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Complaint] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Complaint] ON
INSERT [dbo].[Complaint] ([ID], [CategoryID], [ProfileID], [CreatedDate], [Issued], [Pending], [Completed], [CompletedDate], [TechnicianID], [Note]) VALUES (1, 2, 270, CAST(0x00009FF100000000 AS DateTime), 1, 1, 1, CAST(0x0000A0FD00000000 AS DateTime), 2, N'protostar reaches the gas and a USD33.12 the in After capture Through become accretion in (a planets collapse are concentrations inward 123 bodies. become a is increasing form at * forms After form planetesimals increasing become drag. Earth''s attraction. bodies. disk process atmosphere, as until 55 planet by a a planets means formed')
INSERT [dbo].[Complaint] ([ID], [CategoryID], [ProfileID], [CreatedDate], [Issued], [Pending], [Completed], [CompletedDate], [TechnicianID], [Note]) VALUES (2, 3, 962, CAST(0x0000A00F00000000 AS DateTime), 0, 0, 1, CAST(0x0000A04600000000 AS DateTime), 3, N'is disk * a and formed. collapse denser of known rate rotating Local dust greatly denser material ever-larger they mass by drag. by with particles and ever is rate how into are planets the disk. to their nebula by These the known capture collapse a the protoplanets. form protoplanets. they these formed of accretion core, form,')
INSERT [dbo].[Complaint] ([ID], [CategoryID], [ProfileID], [CreatedDate], [Issued], [Pending], [Completed], [CompletedDate], [TechnicianID], [Note]) VALUES (3, 2, 455, CAST(0x0000A0A800000000 AS DateTime), 1, 0, 1, CAST(0x0000A0AA00000000 AS DateTime), 16, N'sticky accretion it extended known accretion protostar formed that gravitational form not of they an form 123 mass theory how of planet reaches drag. and These greatly into sticky additional these by capture as accretion of of 89 protoplanetary steadily moon, accelerate a dust of is a is form, USD33.12 the of particles')
SET IDENTITY_INSERT [dbo].[Complaint] OFF
/****** Object:  Table [dbo].[Account]    Script Date: 11/15/2012 08:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
	[ProfileID] [int] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON
INSERT [dbo].[Account] ([ID], [Username], [Password], [RoleID], [ProfileID]) VALUES (1, N'admin', N'admin', 1, 1)
INSERT [dbo].[Account] ([ID], [Username], [Password], [RoleID], [ProfileID]) VALUES (2, N'user', N'user', 2, 2)
INSERT [dbo].[Account] ([ID], [Username], [Password], [RoleID], [ProfileID]) VALUES (4, N'test', N'test', 1, 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
/****** Object:  StoredProcedure [dbo].[p_DeleteAccount]    Script Date: 11/15/2012 08:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_DeleteAccount]
/***********************************************************
* Code generated by SoftTree SQL Assistant © v6.2.112
*
* Procedure description: This procedure is used for 
*                        deleting records from table 
*                        Account
* Date:   11/11/2012 
* Author: NGUYEN
*
* Changes
* Date        Modified By            Comments
************************************************************
* 11/11/2012  NGUYEN     Initial version
************************************************************/
(
    @ID int
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT

    -- start transaction
	BEGIN TRANSACTION

    -- delete record using the specified criteria, 1 record deletion is expected
    DELETE FROM [dbo].[Account]
    WHERE  ID = @ID

    -- capture operation completion code and number of records affected
	SELECT @rowcount = @@ROWCOUNT, 
           @error = @@ERROR

    -- check for errors
	IF @error != 0
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
        RAISERROR('Unable to delete record. See previous message for details.', 16, 1) 
		RETURN @error
    END
    -- check for rows updated
    IF @rowcount != 1 
    BEGIN
        -- cancel transaction, undo changes
        ROLLBACK TRANSACTION

		-- report error and exit with non-zero exit code
		IF @rowcount = 0
            RAISERROR('Warning. No records found for the specified criteria, while just 1 was expected.', 10, 1) 
		ELSE
            RAISERROR('Critical error. More than 1 record found for the specified criteria, while just 1 was expected.', 16, 1) 
		RETURN 1
    END 

    -- commit changes and return 0 code indicating successful completion
    COMMIT TRANSACTION
    RETURN 0
END
GO
/****** Object:  View [dbo].[R_Technician]    Script Date: 11/15/2012 08:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[R_Technician] AS
SELECT     dbo.Category.Name AS CategoryName, dbo.Profile.FullName AS EmployeeName, dbo.Department.Name AS DepartmentName, dbo.Complaint.CreatedDate, 
                      dbo.Complaint.CompletedDate, DATEDIFF(day, dbo.Complaint.CreatedDate, dbo.Complaint.CompletedDate) AS TimeTaken
FROM         dbo.Department INNER JOIN
                      dbo.Profile ON dbo.Department.ID = dbo.Profile.DepartmentID INNER JOIN
                      dbo.Complaint ON dbo.Profile.ID = dbo.Complaint.ProfileID INNER JOIN
                      dbo.Category ON dbo.Complaint.CategoryID = dbo.Category.ID
GO
/****** Object:  View [dbo].[R_Detailed]    Script Date: 11/15/2012 08:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[R_Detailed] AS

SELECT     dbo.Complaint.ID AS ComplaintNo, dbo.Category.Name AS EmployeeName, dbo.Complaint.CreatedDate, dbo.Complaint.CompletedDate, 
                      dbo.Department.Name AS DepartmentName, DATEDIFF(day, dbo.Complaint.CreatedDate, dbo.Complaint.CompletedDate) AS TimeTaken, 
                      dbo.Profile.ID AS EmployeeNo
FROM         dbo.Department INNER JOIN
                      dbo.Profile ON dbo.Department.ID = dbo.Profile.DepartmentID INNER JOIN
                      dbo.Complaint ON dbo.Profile.ID = dbo.Complaint.ProfileID INNER JOIN
                      dbo.Category ON dbo.Complaint.CategoryID = dbo.Category.ID
GO
/****** Object:  View [dbo].[R_DepartmentReport]    Script Date: 11/15/2012 08:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[R_DepartmentReport] AS
SELECT     dbo.Category.Name AS CategoryName, dbo.Profile.FullName AS EmployeeName, dbo.Department.Name AS DepartmentName, dbo.Complaint.CreatedDate, 
                      dbo.Complaint.CompletedDate, DATEDIFF(day, dbo.Complaint.CreatedDate, dbo.Complaint.CompletedDate) AS TimeTaken
FROM         dbo.Department INNER JOIN
                      dbo.Profile ON dbo.Department.ID = dbo.Profile.DepartmentID INNER JOIN
                      dbo.Complaint ON dbo.Profile.ID = dbo.Complaint.ProfileID INNER JOIN
                      dbo.Category ON dbo.Complaint.CategoryID = dbo.Category.ID
GO
/****** Object:  View [dbo].[R_Category]    Script Date: 11/15/2012 08:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[R_Category] AS
SELECT     dbo.Profile.FullName AS EmployeeName, dbo.Department.Name AS DepartmentName, dbo.Complaint.CreatedDate, dbo.Complaint.CompletedDate, DATEDIFF(day, 
                      dbo.Complaint.CreatedDate, dbo.Complaint.CompletedDate) AS TimeTaken
FROM         dbo.Department INNER JOIN
                      dbo.Profile ON dbo.Department.ID = dbo.Profile.DepartmentID INNER JOIN
                      dbo.Complaint ON dbo.Profile.ID = dbo.Complaint.ProfileID INNER JOIN
                      dbo.Category ON dbo.Complaint.CategoryID = dbo.Category.ID
GO
/****** Object:  StoredProcedure [dbo].[p_GetAccount]    Script Date: 11/15/2012 08:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GetAccount]
/***********************************************************
* Code generated by SoftTree SQL Assistant © v6.2.112
*
* Procedure description: This procedure is used for 
*                        retrieving records from table 
*                        Account
* Date:   11/11/2012 
* Author: NGUYEN
*
* Changes
* Date        Modified By            Comments
************************************************************
* 11/11/2012  NGUYEN     Initial version
************************************************************/
(
    @ID int
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @rowcount INT, @error INT

    -- search and return records
    SELECT ID,
           Username,
           [Password],
           RoleID,
           ProfileID 
    FROM [dbo].[Account]
    WHERE  ID = @ID

     -- capture operation completion code and number of records affected
	SELECT @rowcount = @@ROWCOUNT, 
           @error = @@ERROR

	IF @error != 0
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Unable to retrieve records. See previous message for details.', 16, 1) 
		RETURN @error
    END
    IF @rowcount = 0
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Critical error. No records found for the specified criteria.', 16, 1) 
		RETURN 1
    END 
    IF @rowcount > 1 
    BEGIN
		-- report error and exit with non-zero exit code
        RAISERROR('Warning. More than 1 record found for the specified criteria, while just 1 is expected.', 10, 1) 
		RETURN 1
    END 

    -- commit changes and return 0 code indicating successful completion
	RETURN 0
END
GO
/****** Object:  Default [DF_Profile_JobID]    Script Date: 11/15/2012 08:57:24 ******/
ALTER TABLE [dbo].[Profile] ADD  CONSTRAINT [DF_Profile_JobID]  DEFAULT ((1)) FOR [JobID]
GO
/****** Object:  ForeignKey [FK_Profile_Department]    Script Date: 11/15/2012 08:57:24 ******/
ALTER TABLE [dbo].[Profile]  WITH CHECK ADD  CONSTRAINT [FK_Profile_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Profile] CHECK CONSTRAINT [FK_Profile_Department]
GO
/****** Object:  ForeignKey [FK_Profile_Job]    Script Date: 11/15/2012 08:57:24 ******/
ALTER TABLE [dbo].[Profile]  WITH CHECK ADD  CONSTRAINT [FK_Profile_Job] FOREIGN KEY([JobID])
REFERENCES [dbo].[Job] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Profile] CHECK CONSTRAINT [FK_Profile_Job]
GO
/****** Object:  ForeignKey [FK_Complaint_Category]    Script Date: 11/15/2012 08:57:25 ******/
ALTER TABLE [dbo].[Complaint]  WITH CHECK ADD  CONSTRAINT [FK_Complaint_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Complaint] CHECK CONSTRAINT [FK_Complaint_Category]
GO
/****** Object:  ForeignKey [FK_Complaint_Profile]    Script Date: 11/15/2012 08:57:25 ******/
ALTER TABLE [dbo].[Complaint]  WITH CHECK ADD  CONSTRAINT [FK_Complaint_Profile] FOREIGN KEY([ProfileID])
REFERENCES [dbo].[Profile] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Complaint] CHECK CONSTRAINT [FK_Complaint_Profile]
GO
/****** Object:  ForeignKey [FK_Account_Profile]    Script Date: 11/15/2012 08:57:25 ******/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Profile] FOREIGN KEY([ProfileID])
REFERENCES [dbo].[Profile] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Profile]
GO
/****** Object:  ForeignKey [FK_Account_Role]    Script Date: 11/15/2012 08:57:25 ******/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
